@model SpringHealthOne.Models.MenuItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MenuItem</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ParentID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Label)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Label)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.URL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.URL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DisplayOrder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayOrder)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Published)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Published)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MenuItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
